div.run-pikachu-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div .score-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin: 12px 0px 24px 0px;
}

@media (max-width: 600px) {
  div .score-buttons-container {
    margin-top: 36px;
  }
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin: 24px 0px 0px 0px;
}

h1.run-pikachu {
  font-size: 60pt;
  color: #ffcb05;
  text-shadow: 2px 2px #2e3775;
}

@media (max-width: 600px) {
  h1.run-pikachu {
    font-size: 48pt;
  }
}

p.score-text {
  width: 120px;
  font-size: 24pt;
}
