h1.pre-game-text {
  margin-top: 24px;
}

h1.pre-game-text.desktop {
  display: block;
}

@media (max-width: 600px) {
  h1.pre-game-text.desktop {
    display: none;
  }
}

h1.pre-game-text.mobile {
  display: none;
}

@media (max-width: 600px) {
  h1.pre-game-text.mobile {
    display: block;
  }
}

.highlight {
  color: #ffcb05;
  text-shadow: 2px 2px #2e3775;
  font-weight: bold;
}

h1.pre-game-text.mobile .highlight {
  cursor: pointer;
}
